pandas
uvicorn
fastapi
httpx
python-dotenv
requests
pydantic
pytest
pytest-asyncio
pytest-cov
pytest-mock
pytest-httpx
pytest-factory
openai
azure-ai-agents
azure-identity
azure-ai-projects
streamlit
regex
xlsxwriter
msal